services:
  next-app:
    build: .
    container_name: lanning-app
    restart: always
    ports:
      - "3000:3000"

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:8080"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - next-app
