version: "3.8"

services:
  app:
    build: .
    container_name: lanning-app
    restart: always
    environment:
      NODE_ENV: production
    expose:
      - "3000"   # expose nội bộ cho Nginx
    networks:
      - webnet

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - app
    networks:
      - webnet

networks:
  webnet:
    driver: bridge
